@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Bebas_Neue';
  src: url('../../public/fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../../public/fonts/Rubik-VariableFont_wght.ttf');
}

a.button {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 12px 20px;
  font-family: 'Rubik';
}

input {
  height: 48px;
  width: 100%;
}

input, textarea {
  border: 1px solid black;
  padding: 4px 8px;
  margin: 8px 0;
  background-color: #fafafa
}